/* Global, must add these to every website */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* Change the Background to see the Border clearly */
body{
  background-color: #fff;
}
header{
  background-color: blue;
}
.img{
  width: 100%;
}
/* ********************************************* */
/* *******         Info                 ******** */
/* ********************************************* */
.info h2, .info h3{
  text-align: center;
}
/* Color the headings */
.info h2{
  background-color: cadetblue;
  color: bisque;
}
.info h3{
  background-color: cornflowerblue;
  color: #fff;
}
/* ********************************************* */
/* Spacing the info box and center in the page */
/* ********************************************* */
.info{
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem 12rem;
  padding: 1.3rem 0rem;
}